.start-section-container {
    position: relative;
    margin-top: 14em;

    .heading {
        font-size: 4rem;
        font-weight: 300;
        max-width: 60%;
    }

    p {
        margin-top: 12px;
        font-size: 1.24rem;
    }
}
