.work-container {
    margin-top: 5em;

    .header {
        font-size: 3rem;
        font-weight: 300;
    }

    .work-wrapper {
        margin-top: 4em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        row-gap: 32px;
        justify-content: center;
        align-items: center;

        .work-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                font-size: 1.9rem;
                font-weight: 400;
                text-align: center;
                margin-top: 14px;
            }

            .work-box-wrapper {
                position: relative;
                width: 400px;
                height: 400px;
                border-radius: 50%;
                overflow: hidden;
                filter: drop-shadow(4px 4px 20px rgba($color: #000000, $alpha: 0.4));
                transition: 0.2s;

                @media only screen and (max-device-width: 480px) {
                    width: 260px;
                    height: 260px;
                }

                &:hover {
                    filter: drop-shadow(4px 4px 20px rgba($color: #000000, $alpha: 0.8));
                }

                &:hover {
                    .site {
                        animation: scroll 10s ease infinite;

                        @keyframes scroll {
                            0% {
                                top: 6px;
                                transform: translate(-50%, 0);
                            }

                            50% {
                                transform: translate(-50%, -82%);
                            }

                            100% {
                                top: 6px;
                                transform: translate(-50%, 0);
                            }
                        }
                    }

                    .image-container {
                        transform: scale(1.06);
                        filter: saturate(1.1);
                    }
                }

                .image-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    transform: scale(0.93);
                    filter: saturate(0.4);
                    transition: 0.18s;

                    .mockup {
                        position: absolute;
                        width: 80%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 6;
                    }

                    .mobile {
                        position: absolute;
                        width: 14.6%;
                        height: 29%;
                        border-radius: 0.45em;
                        top: 62.4%;
                        left: 79.5%;
                        transform: translate(-50%, -50%);
                        z-index: 5;
                    }

                    .site-container {
                        position: absolute;
                        width: 60%;
                        height: 160px;
                        top: 42%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 4;
                        overflow: hidden;

                        @media only screen and (max-device-width: 480px) {
                            top: 47%;
                            height: 120px;
                        }

                        .site {
                            position: relative;
                            width: 100%;
                            object-fit: cover;
                            top: 504px;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            @media only screen and (max-device-width: 480px) {
                                top: 322px;
                            }
                        }
                    }
                }
            }
        }
    }
}
