.scroll-bar-container {
    position: fixed;
    width: 100px;
    max-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    @media only screen and (max-device-width: 768px) {
        display: none;
    }

    .progress-bar-container {
        position: relative;
        width: 1px;
        height: 100%;
        background-color: lightgray;

        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            background-color: #000;
            transition: 0.2s ease;
        }
    }
}
